<footer id="footer" role="contentinfo">
	<a href="#" class="gotop js-gotop"><i class="fa fa-arrow-up"></i></a>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class="social social-circle">
					<li><a href="https://github.com/LetteVerein/Nanofokus"><i class="fa fa-github"></i></a></li>
					<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
					<li><a href="https://www.facebook.com/LetteVerein/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.youtube.com/user/LetteVereinBerlin"><i class="fa fa-youtube"></i></a></li>
				</ul>
				<p class="text-primary">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
			</div>
		</div>
	</div>
</footer>